body{
    
}

h1{
    margin: auto;
}

header {
    height: 64px;
}
header .ic-logo{
    margin-left: 24px;
    height: 32px;
    vertical-align: middle;
}
header h2{
    display: inline-block;
    vertical-align: middle;
}
header .colmar{
    color: black;
}

header .academy{
    color: gray;
}

header nav{
    display: inline-flex;
    height: 64px;
    position: absolute;
    right: 24px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;   
}

header nav a{
    color: black;
    text-decoration: none;
}
header nav li{
    padding-left: 16px;
}

main .banner_container{
    background-color: gray;
    position: relative;
    display: flex;
   
}

main .banner_container .banner{
    margin: 32px 24px;
    width: 55%;
    height: auto;
}

main .banner_container .text{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 250px;
    width: 450px;
    margin: auto 0;
    position: relative;
    left: 24px;
}

main .text h1{
    font-size: 60px;
}

main .text p{
    font-size: 33px;
    
}
main .text a{
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 28px;
}