body{
    
}

h1{
    margin: auto;
}

header {
    height: 64px;
}
header .ic-logo{
    margin-left: 24px;
    height: 32px;
    vertical-align: middle;
}
header h2{
    display: inline-block;
    vertical-align: middle;
}
header .colmar{
    color: black;
}

header .academy{
    color: gray;
}

header nav{
    display: inline-flex;
    height: 64px;
    position: absolute;
    right: 24px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;   
}

header nav a{
    color: black;
    text-decoration: none;
}
header nav li{
    padding-left: 16px;
}

main .banner_container{
    background-color: gray;
    position: relative;
    display: flex;
}

main .banner_container .banner{
    margin: 32px 24px;
    width: 805px;
    height: auto;
}

main .banner_container .text{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 250px;
    width: 450px;
    margin: auto 0;
    position: relative;
    left: 24px;
}

main .text h1{
    font-size: 60px;
}

main .text p{
    font-size: 33px;
    
}
main .text a{
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 28px;
}

.info_container{
    background-color: white;
    position: relative;
    display: flex;
    width: auto;
}

.info_container .left_container{
    display: block;
    border-right: 1px solid gray;
    width: 60%;
}

.info_container .left_container .info_img{
    display: flex;
    width: 805px;
    margin: 32px 24px;
}

.info_container .left_container .text{
    inline-size: 790px;
    overflow-wrap: break-word;
    margin-left: 24px;

}

.info_container .left_container h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.info_container .left_container p{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.info_container .left_container .emanuel{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.info_container .right_container{
    display: inline-block;
    width: 40%;
}

.right_container .info_box{
    width: 569px;
    height: 220px;
    display: flex;   
    border-bottom: 1px solid gray;
}

#first_box{
    padding-top: 32px;
}

#second_box{
    padding-top: 16px;
}

#third_box{
    padding-top: 16px;
    background-color: gray;
}

.right_container .info_box img{
    width: 200px;
    height: auto;
    margin-left: 16px;
    margin-right: 32px;
    margin-bottom: 16px;
}

.right_container .info_box .text_container h3{
    font-size: 30px;
    margin-bottom: 0px;
}

.right_container .info_box .text_container p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.right_container .info_box .text_container a{
    font-size: 20px;
    color: skyblue;
    text-decoration: none;
    
}